.student-list {
    padding: 6px 30px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

@media (max-width: 768px) {
    .student-list {
        width: 100%;
    }
}

div.calendar table.table.table-bordered tr td {
    width: 14.28%;
    font-size: 2.5em;
}

div.calendar table.table.table-bordered tbody tr td {
    color: #555;
}

#studInfo {
    font-size: 20px;
}

div.calendar table.table.table-bordered tbody tr td.pnm {
    color: #ccc;
}

div.calendar table.table.table-bordered thead tr td.pnm {
    background-color: #eee;
    color: #aaa;
}

*[unselectable=on] {
    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div.calendar table.table.table-bordered tr td.exam {
    color: #f00;
}

.error {
    color: Red;
}

@media (min-width: 768px) and (max-width: 992px) {
    .student-list {
        width: 80%;
    }
}

@media (min-width: 992px) and (max-width: 1170px) {
    .student-list {
        width: 60%;
    }
}

@media (min-width: 1170px) {
    .student-list {
        width: 40%;
    }
}

.dl-horizontal dt {
    width: 275px;
}

.dl-horizontal dd {
    margin-left: 295px;
}