{% extends "base.html" %}

{% block content %}

    <div class="container">

        <div class="text-center">
            <div style="font-size: 4em">Ваш персональный номер:</div>
            <div style="font-size: 14em">{{ place.number }}</div>
            {% if place.status == place.STATUS_CHOICES["Сдают"] %}
                <div style="font-size: 2em">Проходите в кабинет</div>
            {% else %}
                <div style="font-size: 2em">Примерное время приема: {{ place.reception_time }}</div>
            {% endif %}
        </div>

    </div>

{% endblock %}