{% extends "base.html" %}

{% block content %}

    <div class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                <span style="font-size: 20px">Сейчас у преподавателя:</span>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-6 col-lg-4">
                <div id="studInfo" class="text-left">
                    Нет
                </div>
                <div id="studId" style="display: none;"></div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2">
                <div>
                    <label class="control-label">Оценка:</label><br>
                    <input id="evaluation" name="evaluation" type="text" class="form-control"/><br>
                    <input type="submit" class="btn btn-primary" value="Завершить" onclick="finishReception()"/>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label>Ожидают</label><br>
                <select id="wait" multiple class="form-control"
                        style="height:300px;">
                    {% for student in queue %}
                        <option disabled
                                value="{{ student.pk }}">{{ student.user.last_name }} {{ student.user.first_name }}</option>
                    {% endfor %}
                </select>

            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-3 text-center" style="height:300px;"><br><br><br>
                <input type="button" value=">" class="btn btn-primary btn-lg" onclick="toExam()"/>
                <br>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <label>Сдают</label><br>
                <select id="reception" multiple class="form-control"
                        style="height:300px;">
                </select>
                <br>
                <input type="button" value="На прием" class="btn btn-primary" onclick="toReception()"/>

                <form action="{% url 'reception:finish' exam %}" METHOD="post" style='display:inline;'>
                    {% csrf_token %}
                    <input type="submit" value="Закончить прием" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>
    <script>


        $('form').validate({
            rules: {
                evaluation: {
                    required: true,
                    min: 0,
                    max: 100
                }
            },
            messages: {
                evaluation: {
                    required: "Оценка не может быть пустой",
                    min: "Минимальная оценка 0",
                    max: "Максимальная оценка 100"
                }
            },

            errorClass: 'error'
        });


        function toExam() {
            var wait = document.getElementById('wait');
            var reception = document.getElementById('reception');

            if (wait.length > 0) {
                var ch = wait.children[0];
                wait.removeChild(ch);
                ch.disabled = false;
                reception.appendChild(ch);
                jQuery.ajax({
                    url: '/reception/' + {{ exam }} +'/student/' + ch.value + '/start',
                    type: "GET",
                    dataType: "json",
                    success: function (response) {
                    }
                });
            }
        }

        function toReception() {
            var reception = document.getElementById('reception');
            var studInfo = document.getElementById('studInfo');
            var studId = document.getElementById('studId');

            if (reception.length > 0) {
                var ch = reception.children[reception.selectedIndex];
                var id = ch.value;
                jQuery.ajax({
                    url: '/reception/' + {{ exam }} +'/student/' + id + '/acceptance',
                    type: "GET",
                    dataType: "json",
                    success: function (response) {
                        var student = response["student"];
                        console.log(studInfo.innerHTML);
                        if (studInfo.innerHTML.trim() == 'Нет') {
                            studInfo.innerHTML = student["first_name"] + '<br>' + student["last_name"] + '<br>' + student["group"];
                            studId.innerHTML = student["pk"];
                            reception.removeChild(ch);
                        } else {
                            alert("Закончите прием текущего студента");
                        }
                    }
                });
            }

        }


        function finishReception() {
            var studId = document.getElementById('studId');
            var studEval = document.getElementById('evaluation');
            var studInfo = document.getElementById('studInfo');
            if (studEval != "" && studId != "") {
                jQuery.ajax({
                    url: '/reception/' + {{ exam }} +'/student/' + studId.innerHTML + '/finish',
                    type: "GET",
                    data: {"eval": studEval.value},
                    dataType: "json",
                    success: function (response) {
                        studId.innerHTML = "";
                        studInfo.innerHTML = "Нет";
                        studEval.innerHTML = "";
                    }
                });
            }

        }

        function finishExam() {

        }
    </script>

{% endblock %}