{% extends "base.html" %}
{% load staticfiles %}


{% block content %}
    <div class="container">
        <div class="jumbotron">
            <h1>О проекте:</h1>

            <p>
                Вы когда-нибудь:
            <ul>
                <li>сдавали экзамен?</li>
                <li>мучились с расписанием?</li>
                <li>пропускали важные новости?</li>
                <li>искали лекции за день до зачёта?</li>
            </ul>
            </p>
            <p>Мы стараемся решить ежедневные проблемы простого студента</p>
            <img src="{% static "exam/logo.jpg" %}"/><br><br>


            <p><a class="btn btn-primary btn-lg" href="#" role="button">Посмотреть наши проекты</a></p>
        </div>
    </div>

{% endblock %}