{% extends "base.html" %}

{% block content %}

    <div class="container">

            <div class="row">
                <div class="col-xs-4 col-xs-offset-4 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
                    <p class="lead">Смена пороля</p>
                    <form role="form" action="{% url "change_password" %}" method="post">
                        {% if error %}
                            <span class="help-inline text-danger">{{ error }}</span><br><br>
                        {% endif %}
                        <div class="form-group">
                            <input name="old_password" class="form-control" type="password" placeholder="Старый пароль">
                        </div>
                        <div class="form-group">
                            <input name="new_password" class="form-control" type="password" placeholder="Новый пароль">
                        </div>
                        <div class="form-group">
                            <input name="confirm_new_password" class="form-control" type="password" placeholder="Подтвердите новый пароль">
                        </div>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary btn-block">Сохранить</button>
                    </form>
                </div>
            </div>

        </div>

{% endblock %}
