{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <p>Консультация по экзамену "{{ exam.subject.name }}"{% if exam.groups > 1 %} групп {% else %}
                    группы {% endif %}
                    {{ exam.groups.all|join:", " }}</p>

                <p>Время консультации: {{ consultation.start_time }}</p>

                <p>Место проведения консультации: {{ consultation.location }}</p>

                {% if teacher %}
                    <p>Вопросы:</p>
                    {% if questions %}
                        <ol>
                            {% for question in questions %}
                                <li>{{ question.author.user.last_name }}: {{ question.text }}</li>
                            {% endfor %}
                        </ol>
                    {% else %}
                        Вопросов нет
                    {% endif %}
                {% else %}
                    <form action="{% url 'exam:consultation' exam.pk %}" method="post" id="question-form" role="form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="question_text">Вопрос:</label>
                            <textarea name="question_text" class="form-control" id="question_text"
                                      placeholder="Введите текст вопроса."></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Отправить</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>

    <script>
        $('form').validate({
            rules: {
                question_text: {
                    maxlength: 255,
                    required: true
                }
            },
            messages: {
                question_text: {
                    maxlength: "Максимальная длина вопроса 255 символов",
                    required: "Вопрос должен быть не пустым"
                }
            },
            errorClass: 'error'
        });
    </script>
{% endblock %}
