{% extends "base.html" %}

{% block content %}

    <div class="container">
        <h1>{{ exam.subject.name }}</h1>

        <dl class="dl-horizontal">
            <dt>Предмет:</dt>
            <dd>{{ exam.subject.name }}</dd>

            <dt>Группы:</dt>
            <dd>{{ exam.groups.all|join:", " }}</dd>

            <dt>Дата экзамена:</dt>
            <dd>{{ exam.date }}</dd>

            <dt>Время начала:</dt>
            <dd>{{ exam.start_time }}</dd>

            <dt>Время окончания:</dt>
            <dd>{{ exam.end_time }}</dd>

            <dt>Место проведения экзамена:</dt>
            <dd>{{ exam.location }}</dd>

            <dt>Материалы:</dt>
            <dd>
                <ul class="student-list">
                    {% if materials %}
                        {% for material in materials %}
                            <li><a href="{{ material.file.url }}" download="">{{ material.name }}</a></li>
                        {% endfor %}
                    {% else %}
                        Материалов нет
                    {% endif %}
                </ul>
            </dd>

            <dt>Количество студентов в один прием:</dt>
            <dd>{{ exam.students_per_time }}</dd>

            <dt>Количество минут на одного студента:</dt>
            <dd>{{ exam.time_for_student }}</dd>

            <dt>Очередь:</dt>
            <dd>
                <ol class="student-list">
                    {% if queue %}
                        {% for s in queue %}
                            <li>{{ s }}</li>
                        {% endfor %}
                    {% else %}
                        Очередь пустая
                    {% endif %}
                </ol>
            </dd>
        </dl>


        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-left">
                {% if can_ask or not student %}
                    <button class="btn btn-default"
                            onclick="window.location.href='{% url 'exam:consultation' exam.pk %}'">
                        Консультация
                    </button>
                {% endif %}
                {% if exam.start and student and not finish %}
                    <button class="btn btn-default"
                            onclick="window.location.href='{% url 'reception:student' exam.pk %}'">Посмотреть
                        место в очереди
                    </button>
                {% elif can_start and not exam.start and not student %}
                    <form method="post" action="{% url 'exam:start_exam' exam.id %}" style="display: inline;">
                        {% csrf_token %}
                        <input class="btn btn-primary" type="submit" value="Начать прием"/>
                    </form>
                {% elif exam.start and not finish %}
                    <button class="btn btn-default"
                            onclick="window.location.href='{% url 'reception:teacher' exam.pk %}'">Прием
                    </button>
                {% endif %}
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-right">
                {% if not student %}
                    <button class="btn btn-primary" onclick="window.location.href='{% url "exam:edit" exam.pk %}'">
                        Редактировать
                    </button>
                    <button class="btn btn-danger" onclick="window.location.href='{% url "exam:delete" exam.pk %}'">
                        Удалить
                    </button>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
