{% extends "base.html" %}

{% block content %}

    <div class="container">
        <form action="{% url 'exam:edit' exam.pk %}" method="post" role="form" class="form-horizontal" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div>
                        <label class="control-label">Предмет</label>
                        <select name="subject" class="form-control">
                            <option disabled>Предмет</option>
                            {% for key, value in subjects.items %}
                                {% if key == exam.subject.pk %}
                                    <option selected value="{{ key }}">{{ value }}</option>

                                {% else %}
                                    <option value="{{ key }}">{{ value }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label class="control-label">Группа</label>
                        <select id="groups" multiple="multiple" name="groups" class="form-control">
                            {% for key, value in groups.items %}
                                {% if key in selected_groups %}
                                    <option selected value="{{ key }}">{{ value }}</option>
                                {% else %}
                                    <option value="{{ key }}">{{ value }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label class="control-label">Дата экзамена</label>
                        <input id="date" name="date" type="date" class="form-control" value="{{ exam.date.isoformat }}">
                    </div>
                    <div>
                        <label class="control-label">Время начала</label>
                        <input id="start_time" name="start_time" class="form-control" type="time"
                               value="{{ exam.start_time.isoformat }}">
                    </div>
                    <div>
                        <label class="control-label">Время окончания</label>
                        <input id="end_time" name="end_time" class="form-control" type="time" value="{{ exam.end_time.isoformat }}">
                    </div>
                    <div>
                        <label class="control-label">Место проведения экзамена</label>
                        <input name="location" class="form-control" type="text" value="{{ exam.location }}">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6">
                    <label class="control-label">Распределение очереди</label>
                    <input type="checkbox" name="switch" checked data-size="mini">

                    <div id="queueBlock" class="row">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <select multiple id="startQueue" name="startQueue" class="form-control"
                                    style="height:400px;">
                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center"><br>

                            <p><input type="button" class="btn btn-primary" value="Случайно" onclick="randomQueue()"/>
                            </p>

                            <p><input type="button" class="btn btn-primary" value="По алфавиту"
                                      onclick="alphabetQueue()"/></p>

                            <p><input type="button" class="btn btn-primary" value="По одному" onclick="byOneQueue()"/>
                            </p>

                            <p><input type="button" class="btn btn-danger" value="Сбросить" onclick="reset_queue()"/>
                            </p>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <select multiple id="finalQueue" name="finalQueue" class="form-control"
                                    style="height:400px;">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div>
                        <label class="control-label">Время консультации</label>
                        <input id="consultation_start_time" name="consultation_start_time" class="form-control" type="datetime-local"
                               value="{{ exam.consultation.start_time.date.isoformat }}T{{ exam.consultation.start_time.time.isoformat }}">
                    </div>
                    <div>
                        <label class="control-label">Место проведения консультации</label>
                        <input name="consultation_location" class="form-control" type="text"
                               value="{{ exam.consultation.location }}">
                    </div>
                    <div>
                        <label class="control-label">Материалы</label>
                            <span id="addFile" class="form-control"
                                  style="height:140px;overflow-x:hidden;overflow-y:auto;max-height:140px;">
                                <input id="file" name="file" type="file"><br>
                            </span>
                        <a href="#" onclick="addMoreFiles()">Добавить еще</a>

                    </div>
                    <div>
                        <label>Кол-во студентов в один прием</label><br>
                        <input name="students_per_time" class="form-control" type="text"
                               value="{{ exam.students_per_time }}"/>
                    </div>
                    <div>
                        <label>Кол-во минут на одного студента</label><br>
                        <input name="time_for_student" class="form-control" type="number"
                               value="{{ exam.time_for_student }}"/>
                    </div>

                    <br>

                    <div class="text-right">
                        <input type="submit" class="btn btn-primary" value="Изменить" onclick="selectAll()"/>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script>


    $.validator.addMethod("endTime", function (value, element) {
        var startTime = $('#start_time').val();
        var endTime = $('#end_time').val();
        var startDate = new Date.parseExact(startTime, "HH:mm:ss");
        var endDate = new Date.parseExact(endTime, "HH:mm:ss");
        return startDate < endDate;
    }, 'End Date should be greater than equal to Start Date.');



    $('form').validate({
        rules: {
            subject: {
                required: true
            },
            groups: {
                required: true
            },
            date: {
                required: true,
                date: true
            },
            start_time: {
                required: true
            },
            end_time: {
                required: true,
                endTime: true
            },
            consultation_start_time: {
                startTime: true,
                required: true
            },
            students_per_time: {
                required: true,
                min: 1
            },
            time_for_student: {
                required: true,
                min: 1
            }
        },
        messages: {
            subject: {
                required: "Вы должны выбрать предмет"
            },
            groups: {
                required: "Вы должны выбрать хотя бы одну группу"
            },
            date: {
                required: "Неверный формат даты",
                date: "Неверный формат даты"
            },
            start_time: {
                required: "Неверный формат времени"
            },
            end_time: {
                required: "Неверный формат времени",
                endTime: "Время окончания должно быть позже времени начала"
            },
            consultation_start_time: {
                required: "Неверный формат времени или даты"
            },
            students_per_time: {
                required: "Это поле не может быть пустым",
                min: "Минимальное количество студентов: 1"
            },
            time_for_student: {
                required: "Это поле не может быть пустым",
                min: "Минимальное время: 1 минута"
            }
        },

        errorClass: 'error'
    });

    $("[name='switch']").bootstrapSwitch();

    $('input[name="switch"]').on('switchChange.bootstrapSwitch', function (event, state) {
        if (state) {
            $('#queueBlock *').removeAttr('disabled');
        } else {
            $('#queueBlock *').attr('disabled', true);
        }
    });


    function addMoreFiles() {
        var x = document.getElementById('addFile').getElementsByTagName('input');
        for (var c = 0, l = x.length, bool = true; bool && c < l; c++) {
            if (!x[c].value) {
                bool = !bool;
                x[c].click();
            }
        }

        if (bool) {
            var input = document.createElement('input');
            input.type = 'file';
            document.getElementById('addFile').appendChild(input);
            document.getElementById('addFile').appendChild(document.createElement('br'));
            input.click();
        }
    }

    function randomQueue() {
        var start = document.getElementById('startQueue');
        var end = document.getElementById('finalQueue');

        while (start.children.length > 0) {
            var el = Math.round(Math.random() * (start.children.length - 1));
            var a = start.children[el];

            end.appendChild(a);
        }
    }

    function alphabetQueue() {
        var start = document.getElementById('startQueue');
        var end = document.getElementById('finalQueue');
        for (var i = 0, l = start.children.length; i < l; i++) {
            var ch = start.children[0];
            start.removeChild(ch);
            end.appendChild(ch);
        }
        var tmpAry = new Array();
        for (var i = 0; i < end.options.length; i++) {
            tmpAry[i] = new Array();
            tmpAry[i][0] = end.options[i].text;
            tmpAry[i][1] = end.options[i].value;
        }
        tmpAry.sort();
        while (end.options.length > 0) {
            end.options[0] = null;
        }
        for (var i = 0; i < tmpAry.length; i++) {
            var op = new Option(tmpAry[i][0], tmpAry[i][1]);
            end.options[i] = op;
        }

    }


    function byOneQueue() {
        var start = document.getElementById('startQueue');
        var end = document.getElementById('finalQueue');

        if (start.length > 0) {
            if (start.selectedIndex > 0) {
                var ch = start.children[start.selectedIndex];
                start.removeChild(ch);
                ch.selected = false;
                end.appendChild(ch);
            } else {
                var ch = start.children[0];
                start.removeChild(ch);
                ch.selected = false;
                end.appendChild(ch);
            }
        }

    }

    function selectAll() {
        var end = document.getElementById('finalQueue');
        for (var i = 0; i < end.options.length; i++) {
            end.options[i].selected = true;
        }
    }

    $("#groups")
            .change(function () {
                $('#startQueue')
                        .find('option')
                        .remove()
                        .end();
                $('#finalQueue')
                        .find('option')
                        .remove()
                        .end();

                $("select option:selected").each(function () {
                    var num = (this).value;
                    jQuery.ajax({
                        url: '/group/' + num,
                        type: "GET",
                        dataType: "json",
                        success: function (response) {
                            $.each(response, function (key, value) {
                                $('#startQueue')
                                        .append($("<option></option>")
                                                .attr("value", key)
                                                .text(value));
                            });
                        }
                    });
                });
            })
            .change();

    function reset_queue() {
        $('#startQueue')
                .find('option')
                .remove()
                .end();
        $('#finalQueue')
                .find('option')
                .remove()
                .end();

        $("select option:selected").each(function () {
            var num = (this).value;
            jQuery.ajax({
                url: '/group/' + num,
                type: "GET",
                dataType: "json",
                success: function (response) {
                    $.each(response, function (key, value) {
                        $('#startQueue')
                                .append($("<option></option>")
                                        .attr("value", key)
                                        .text(value));
                    });
                }
            });
        });
    }

    </script>

{% endblock %}
