{% extends "base.html" %}


{% block content %}

    <div class="row">
        <div class="col-xs-12 col-sm-7 col-sm-offset-1 col-md-7 col-md-offset-1 col-lg-7 col-lg-offset-1">
            <div class="calendar">
                <div class="table-responsive">
                    <table unselectable="on" class="table table-bordered">
                        <thead>
                        <tr>
                            <td onclick="prev()"><i class="fa fa-chevron-left"></i></td>
                            <td colspan="5">
                                <span id="year"></span>
                                <span id="month"></span>
                            </td>
                            <td onclick="next()" class="text-right"><i class="fa fa-chevron-right"></i></td>
                        </tr>
                        <tr>
                            <td class="pnm">Пн</td>
                            <td class="pnm">Вт</td>
                            <td class="pnm">Ср</td>
                            <td class="pnm">Чт</td>
                            <td class="pnm">Пт</td>
                            <td class="pnm">Сб</td>
                            <td class="pnm">Вс</td>
                        </tr>
                        </thead>
                        <tbody id="cal">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-3">
            <h4>Предстоящие экзамены</h4>
            <ol>
                {% if next_exams %}
                    {% for exam in next_exams %}
                        <li><a href="{% url 'exam:details' exam.pk %}"> {{ exam.subject.name }} {{ exam.date }} </a>
                        </li>
                    {% endfor %}
                {% else %}
                    <p>В ближайшее время экзаменов не ожидается</p>
                {% endif %}
            </ol>
        </div>
    </div>
    <script>
        Date.prototype['getMonth_'] = Date.prototype['getMonth'];
        Date.prototype['getMonth'] = function () {
            return this.getMonth_() + 1
        };
        var year = new Date().getFullYear();
        var month = new Date().getMonth();
        var months = [
            'Январь',
            'Февраль',
            'Март',
            'Апрель',
            'Май',
            'Июнь',
            'Июль',
            'Август',
            'Сентябрь',
            'Октябрь',
            'Ноябрь',
            'Декабрь'
        ];
        function calRun() {
            var tm = new Date(year, month - 1, 1);
            var day = tm.getDay();
            var start = new Date(tm.getTime() - (1000 * 60 * 60 * 24 * (day - 1)));

            var cal = document.getElementById('cal');

            for (var c = 0; c < 6; c++) {
                var week = document.createElement('tr');
                for (var i = 0; i < 7; i++) {
                    var d = document.createElement('td');
                    var day = new Date(start.getTime() + (1000 * 60 * 60 * 24 * (c * 7 + i)));
                    var html = '';
                    for (var j = 0, l = x.response.length; j < l; j++) {
                        if (new RegExp('^' + x.response[j].date + '$').test(day.getFullYear() + '-' + ((day.getMonth() < 10) ? '0' + (day.getMonth()) : (day.getMonth())) + '-' + ((day.getDate() < 10) ? '0' + day.getDate() : day.getDate()))) {
                            html += '<a href="exam/' + x.response[j].pk + '">' + x.response[j].name + '</a><br />';
                        }
                    }
                    if (html != '') {
                        $(d)
                                .attr('data-container', 'body')
                                .attr('data-toggle', 'popover')
                                .attr('data-placement', 'top')
                                .attr('data-content', html)
                                .popover({html: true})
                                .addClass('exam');
                    }
                    d.innerHTML = day.getDate();
                    if (day.getMonth() != month)
                        d.className = 'pnm';
                    week.appendChild(d);
                }
                cal.appendChild(week);
            }
            document.getElementById('month').innerHTML = months[month - 1];
            document.getElementById('year').innerHTML = year;
        }
        function next() {
            if (month < 12)
                month++;
            else {
                month = 1;
                year++;
            }
            var cal = document.getElementById('cal');
            cal.innerHTML = '';
            calRun();
        }
        function prev() {
            if (month > 1)
                month--;
            else {
                month = 12;
                year--;
            }
            var cal = document.getElementById('cal');
            cal.innerHTML = '';
            calRun();
        }
        a = '{{ exams }}';
        a = a.replace(/&quot;/g, '"')
        console.log(a)
        x = JSON.parse(a)
        console.log(x)
        $(function () {
            $('[data-toggle="popover"]').popover();
        })
        calRun();
    </script>

{% endblock %}
