{% extends "base.html" %}

{% block head %}

    <style>

    </style>

{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-xs-4 col-xs-offset-4 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
            <p class="lead text-center">Название экзамена</p>
            <ol class="student-list">
                {% if queue|length != 0 %}
                    {% for key, value in queue.items %}
                        <li>{{ value }}</li>
                    {% endfor %}
                {% else %}
                    Никого нет в очереди
                {% endif %}
            </ol>
            <form action="{% url 'exam:queue_by_students' exam %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-block">Занять очередь</button>
            </form>
        </div>
    </div>


{% endblock %}