{% extends "base.html" %}

{% block content %}

    <div class="container">
        <h4>Приложение предназначено для студентов и преподавателям среднеспециальных и высших учебных заведений.</h4>
        <ul>
            <li>Приложение позволяет систематизировать информацию о зачетах и экзаменах.</li>
            <li>Упрощает организацию приема.</li>
            <li>Позволяет контролировать порядок приема.</li>
            <li>Получать статистистические данные.</li>
        </ul>
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4 col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
                <h2 class="text-center">Авторизация</h2>

                <form action="{% url 'signin' %}" method='POST' role="form" class="form-horizontal">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-at fa-fw"></i>
                            </div>
                            {{ form.username }}
                        </div>
                        {% if form.username.errors %}
                            <span class="help-inline text-danger">{% for error in form.username.errors %}{{ error }}
                                <br/> {% endfor %}</span>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-key fa-fw"></i>
                            </div>
                            {{ form.password }}
                        </div>
                        {% if form.password.errors %}
                            <span class="help-inline text-danger">{% for error in form.password.errors %}{{ error }}
                                <br/> {% endfor %}</span>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <div class="checkbox" style="margin-left:15px;">
                            <label>
                                <input name="remember_me" type="checkbox"> Запомнить меня
                            </label>
                        </div>
                    </div>
                    <input class="btn btn-primary btn-block" type="submit" value="Войти"/>
                </form>
            </div>
        </div>
    </div>


{% endblock %}
