{% load static %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="{% static "exam/style.css" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.2.1/css/bootstrap3/bootstrap-switch.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    {% block head %}{% endblock %}

    <script src="{% static "exam/date.js" %}"></script>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.2.1/js/bootstrap-switch.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.js"></script>
    <title>E-Exam</title>
</head>
<body>

{% block header %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'index' %}">E-Exam</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">

                <ul class="nav navbar-nav">
                    <li><a href="{% url 'index' %}">Главная</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Экзамены<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            {% if request.session.teacher %}
                                <li><a href="{% url 'exam:new' %}">Добавить</a></li>
                            {% endif %}
                            {% if request.session.last_exam %}
                                <li><a href="{% url 'exam:details' request.session.last_exam %}">Просмотреть
                                    последний</a></li>
                            {% endif %}
                            <li><a href="{% url 'index' %}">Календарь</a></li>
                        </ul>
                    </li>
                    <li><a href="{% url 'about' %}">О проекте</a></li>
                </ul>
                {% if user.is_authenticated %}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.username }}<span
                                    class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{% url 'change_password' %}">Сменить пароль</a></li>
                            </ul>
                        </li>
                        <li><a href="{% url 'signout' %}">Выйти</a></li>
                    </ul>
                {% endif %}
            </div>
        </div>


    </nav>
{% endblock %}

{% block content %}{% endblock %}


{% block footer %}

    <div id="footer" class="text-center" style="height:30px">
        <div class="container">
            <span class="text-muted">E-Exam, 2014</span> <a href="https://github.com/guy-full-in">Автор</a>
        </div>
    </div>
{% endblock %}
<script>
    if ($(window).height() - 30 > $('body').height()) {
        $('#footer').addClass('navbar-fixed-bottom');
    }
</script>
</body>
</html>